@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainYellow:rgb(231, 192, 33);
  --mainAsh: #88807b;
  --mainWhite: #fff;
  --mainOrange: #BA420F;
  --yellowTrans: rgba(249, 229, 148, 0.2 85);
  --mainGrey: rgb(238, 238, 238);
}


body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainOrange);
}
.btn-pink{
  color: var(--mainYellow) !important;
  border-color: var(--mainYellow) !important;
}
.btn-black{
  color: var(--mainOrange) !important;
  border-color: var(--mainOrange) !important;
}
.btn-black:hover{
  color: var(--mainYellow) !important;
  background: var(--mainOrange) !important;
}
.btn-pink:hover{
  color: var(--mainOrange) !important;
  background: var(--mainYellow) !important;
}
.navbar-toggler{
  outline: none !important;
}
.toggler-icon{
  font-size: 2.5rem;
  color: var(--mainYellow);
}
.nav-link{
  color: var(--mainYellow);
  transition: all 2s ease-in-out;
  font-size: 1.5rem;
}
.nav-link:hover{
  color: var(--mainOrange);
}
.cart-info__icon{
  color: var(--mainOrange);
  cursor: pointer;
}
.cart-info{
  border: 0.1rem solid var(--mainOrange);
  color: var(--mainOrange);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover{
  background: var(--mainYellow);
  border-color: var(--mainYellow);
  color: var(--mainWhite);
}
.cart-info:hover .cart-info__icon{
  color: var(--mainWhite);
}
.max-height{
  min-height: calc(100vh - 76px);
  background:linear-gradient(rgba(233, 150, 122, 0.219), rgba(250, 219, 216, 0.247)), url(img-cart/headerBcg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.banner{
  color: var(--mainWhite);
  margin-top: -4rem;
}
.banner-title{
  color: var(--mainYellow);
  font-size: 4rem;
}
.banner-link{
  font-size: 1.5rem;
  color: var(--mainOrange);
  border: 0.2rem solid var(--mainOrange);
}.banner-link:hover{
  background: var(--mainOrange);
  color: var(--mainYellow);
}
.about-img__container{
  position: relative;
}
.about-img__container::before{
  content: '';
  position: absolute;
  top: -1.5rem;
  left: 1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid sienna;
  z-index: -1;
  transition: all 1.5s linear;
}
.about-img__container:hover::before{
  top: 0;
  left: 0;
}
.store{
  background: #E5E7E9;
}
.search-box{
  background: var(--mainYellow);
  color: var(--mainOrange);
}
.single-item{
  transition: all 0.5s linear;
}
.single-item:hover{
  box-shadow: 0 10px 15px rgb(0, 0, 0);
}
.img-container{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img{
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img{
  transform: scale(1.2);
}
.store-item-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: darkgray;
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}
.img-container:hover .store-item-icon{
  transform: translate(0, 0);
}
.store-item-icon:hover{
  color:var(--mainWhite);
}
.services{
  color: var(--mainWhite);
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img-cart/90808_booming.jpg) center/cover fixed no-repeat;
}
.service-title{
  letter-spacing: 0.5rem;
}
.service-text{
  word-spacing: 0.5rem;
}
.footer-title{
  background: var(--mainOrange);
}
.footer-contact{
  background: var(--mainGrey);
}
.footer-icon{
  font-size: 1.5rem;
  color: var(--mainWhite);
  transition: all 0.4 ease-in-out;
}
.footer-icon:hover{
  color: var(--mainYellow) ;  
}
.cart{
  position: absolute;
  min-height: 10rem;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 0;
  overflow: hidden;
}
.show-cart{
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
.cart-item{
  transition: all 2s ease-in-out;
}
.cart-item-remove{
  color: var(--mainYellow);
  transition: all 1s ease-in-out;
}
.cart-item-remove:hover{
  transform: scale(1.1);
  color: var(--mainOrange);
}
.cart-item-price{
  font-size: 0.8rem;
}
/*
.height3{
  height: 250px;
}*/